[submodule "ISYlib-python"]
	path = ISYlib-python
	url = https://github.com/Robert-Nelson/ISYlib-python.git
	branch = Python3-Changes
[submodule "phue"]
	path = phue
	url = https://github.com/Robert-Nelson/phue
